<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<body>
<div th:replace="fragement/_menu-user :: menu"></div>
<h2>Mes prêts</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Exemplaire</th>
        <th>Date prêt</th>
        <th>Date retour prévue</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pret : ${prets}">
        <td th:text="${pret.id}"></td>
        <td th:text="${pret.exemplaire.codeBarre}"></td>
        <td th:text="${pret.datePret}"></td>
        <td th:text="${pret.dateRetourPrevue}"></td>
        <td>
            <form th:action="@{'/admin/prets/' + ${pret.id} + '/prolonger-user'}" method="post" style="display:inline">
                <input type="date" name="nouvelleDate" required>
                <button type="submit">Prolonger</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/user/prets/demander-pret}">Faire une demande de prêt</a>
</body>
</html>